$primary_blue: rgb(22, 131, 255);
$prime_grey: #dfe3ec;
$blue_light: rgb(207, 221, 255);
$height: 100vh;
$darker: rgba(0,0,0,.075);


*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}
li{
    list-style-position: inside;
}
body{
    background-color: rgb(175, 179, 189);
}
@mixin fixsize(){
    
}
@mixin shaper($right: 0, $left: 0){
    height: calc($height - 7em);
    margin: 5px $right 5px $left;
    padding: 1em;
    border-radius: $left $right $right $left;
    box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.75);
}
.navigation{
    background: $prime_grey;

    @include shaper(0,1em);
}
.container{
    background-color: rgb(247, 250, 255);

    @include shaper(1em,0);
}
h5{
    color: rgba(0,0,0,.5);
}
h4 {
    color: $primary_blue;
}
.cardUpdate h4, .recentPayments h4{
    background-color: $blue_light;
    padding: 3px 7px;
    border-radius: 15px;
    font-weight: 600;
}
.header h3{
    background-color: $darker;
    padding: 7px;
    border-radius: 5px;
}
.container img{
    border-radius: 4px;
    background-size: cover;
    flood-color: black;
    filter: invert(100%);
}