$primary_blue: rgb(22, 131, 255);
$prime_grey: #dfe3ec;
$blue_light: rgb(207, 221, 255);
$height: 100vh;
$darker: rgba(0,0,0,.075);

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
    font-family: 'Open Sans', Geneva, Tahoma, sans-serif;
}
li{
    list-style-position: inside;
}
body{
    background-color: rgb(175, 179, 189);
}
@mixin fixsize(){
    
}
@mixin shaper($right: 0, $left: 0){
    height: calc($height - 7em);
    margin: 5px $right 5px $left;
    border-radius: $left $right $right $left;
    box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.75);
}
.navigation{
    background: $prime_grey;
    padding: 2em 2em;

    @include shaper(0,1em);
}
.container{
    background-color: rgb(247, 250, 255);
    padding: 2em 4em;

    @include shaper(1em,0);
}
h5{
    color: rgba(0,0,0,.5);
}
h4 {
    color: $primary_blue;
    font-weight: 400;
}
.cardUpdate h4, .recentPayments h4{
    background-color: $blue_light;
    padding: 3px 7px;
    border-radius: 15px;
    font-weight: 600;
}
.header h3{
    background-color: $darker;
    padding: 7px;
    border-radius: 5px;
}
