$primary_blue: rgb(43, 106, 255);
$prime_grey: #dadfea;


*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navigation{
    background: $prime_grey;
    border-radius: 5px 0 0 5px;
}
h5{
    color: rgba(0,0,0,.5);
}
h4{
    color: $primary_blue;
    background-color: $prime_grey;
}