* {
    margin: 0;
    padding: 0;
}
@mixin flexCenter($align, $justify, $direction) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-flow: $direction;
}
body {
    @include flexCenter(flex-start, flex-start, row);
    padding: 30px
}
.header {
    @include flexCenter(center, space-between, row);
    margin-bottom: 30px;
}
.pending {
    width: 43%;
    padding-left: 5%;
    h1 {
        font-size: 40px;
    }
}
.cardUpdate {
    margin-bottom: 5%;
    @include flexCenter(center, space-between, row);
}
.recentPayments {
    @include flexCenter(center, space-between, row);
    margin-left: 5%;
    margin-bottom: 40px
}
.historyHeader {
    @include flexCenter(center, space-between, row);
    margin-left: 5%;
}
.historyPayments {
    @include flexCenter(flex-start, flex-start, row wrap);
    margin-left: 5%;
    .accounts {
        margin-bottom: 5%;
        width: 40%;
        padding-right: 10%;
        display: flex;
        align-items: center;
        img {
            width: 50px;
            margin: 10px;
        }
        .account-about {
            @include flexCenter(flex-start, center, column)
        }
        .account-amount {
            padding-left: 60%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            flex-flow: column;
        }
    }
}


ol {
    li {
        list-style: none;
    }
}
