* {
    margin: 0;
    padding: 0;
}
@mixin flexCenter($align, $justify, $direction) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-flow: $direction;
}
body {
    padding: 30px
}
.header {
    @include flexCenter(center, space-between, row);
    margin-bottom: 30px;
}
.pending {
    h1 {
        font-size: 25px;
    }
}
